<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freelance.agent.restapi.repository.UserMapper">

  <select id="findByLoginId" resultType="UserEntity">
    SELECT login_id, password, role
    FROM user_info
    WHERE login_id = #{loginId}
  </select>


</mapper>